.container-fluid {
    margin-top: 15px !important;
}

p {
    font-size: 17px;
    margin-bottom: 7px;
}

.small {
    letter-spacing: 0.5px !important;
}

.card-header img {
    border: 5px solid white !important;
}

.outside {
    position: inherit;
    top: -50%;
}
/* TESTIMONIAL STYLES */
#testimonials-section .card {
    background: #fff !important;
    margin: 0 20px;
    padding: 0 10px;
    border-radius: 20px;
    border: 0;
}
#testimonials-section .card-img-top {
    max-width: 100px;
    margin: 15px auto 0;
    box-shadow: 0 8px 20px -4px #95abbb;
    width: 100px;
    height: 100px;
}
#testimonials-section .card h4{
    font-size: 21px;
    color: #01b0f8;
    line-height: 1.3;
}
#testimonials-section .card h4 span{
    font-size: 16px;
    color: #666666;
}
#testimonials-section .card p{
    font-size: 16px;
    color: #666666;
    padding-bottom: 15px;
}
#testimonials-section .carousel-indicators{
    left: 0;
    top: auto;
    bottom: -60px;
}

/* TESTIMONIAL STYLES */
.card {
    /* border-radius: 20px !important; */
    /* box-shadow: 2px 2px 5px 0px rgb(100, 108, 170); */
    transition: 0.8s;
}

.card-header {
    border-radius: 20px !important;
}

.card-footer {
    border-radius: 20px !important;
}

hr {
    background-color: rgb(146, 154, 236);
    border: 1px solid;
    border-radius: 20px;
    color: rgb(146, 154, 236);
    height: 5px;
    width: 70px !important;
}

.bold {
    font-weight: 500;
}

.profile-pic {
    margin-bottom: -5px !important;
}

.quotes {
    position: relative;
    top: -10px;
}

.quotes-down {
    position: relative;
    top: -4 px;
}

.fa {
    color: rgb(174, 178, 219);
    cursor: pointer;
}

.card-footer .fa {
    font-size: 20px !important;
}

.name {
    margin-top: -50px !important;
}

.container-fluid:hover .card:not(:hover) {
    transform: scale(0.9);
}

@media (max-width: 1000px) {
    .container-fluid:hover .card:not(:hover) {
        transform: scale(1);
    }
}

body {
    margin: 0;
    box-sizing: border-box;
    /* padding: 0px 30px 0px 30px; */
}

.main {
    margin-top: 6remz;
    display: flex;
}


.hd {
    width: 600px;
    height: 450px;
    background-color: rgb(241, 107, 5);
    border: 2px solid green;
    justify-content: space-around;
    align-items: center;

    margin: 20px;
}



#loop1 h2,
h3 {
    /* margin-top: 150px; */
    font-weight: bold;
}

.box1 {
    /* margin-left: 100px; */
}

#extra-btn {
    background: rgba(106, 92, 252, 1) !important;
}
.extra-btn-form {
    background: rgba(136, 136, 252, 1) !important;
}

#main-footer {
    background: rgba(30, 39, 70, 1);
}

@media (max-width: 400px) {
    #learn-more {
        width: 75px;
    }

    #arrow {
        width: 30px;
    }
}
.custom-img {
    position: relative;
    top: -10px;
    left: 120px;
    z-index: 2;
}
.custom-img img{
    /* border: 1px solid #fff; */
}
#contact-bg{
    background: url(./images/man.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: contain;
}
.contact-form{
    width: 350px;
}
#contact-text{
    text-align: right;
    margin-top: 45px;
}
.serve::after {
    content: '';
    margin: 5px 0;
    width: 55px;
    height: 1px;
    display: block;
    background: #fff;
    
}
#main-footer a{
    text-decoration: none;
}
#main-footer ul{
    list-style: none;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start; */
}
#footer-line{
    width: ;
    background: #fff;
    height: 1px;
}
